*{
  font-family: Arial, Helvetica, sans-serif;
}
.body{
  background-color: #240046;
  
}

.cardlogin{
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  box-shadow: 10px 5px 7px 3px rgba(0, 0, 0, 0.473);
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  width: 34rem;
  height: 31em;
}
.card-title {
  font-size: 32px;
  font-weight: bold;
  line-height: 2em;
  margin-left: 7em;
  padding-top: 10px;
 
}

textarea:focus, input:focus{
  outline: none;
}

form{
  margin-top: 1em;
  margin-bottom: 4em;
  padding: 4px;
}

.inputs{
  display: block;
  width: 79%;
  text-align: left;
  margin-left: 3em;
  box-shadow: 0 0 0 0;
  outline: 0;
  border: none;
  border-bottom: 2px solid #80136d;
  padding: 15px;
  font-size: 1em;
  margin-bottom: 1em;

}
.inputs:focus{
   border-bottom:  3px solid rgb(177, 12, 122);

}
.form-title{
  font-weight: 520;
  font-size: 21px;
  margin-left: 2em;
}
.forgot-pass{
  text-align: right;
  display: block;
  flex-wrap: nowrap;
  margin-right: 3em;
  font-size: 17px;
  letter-spacing: 1px;
  color: #bd2890;
  cursor: pointer;
  font-weight: 512;
  text-decoration: underline;
}


.checkbox{
  margin-left: 3em;
  width: 32px;
  min-height: 17px;
}
  
.remember{
  font-size: 16px;
  min-height: 20px;
  font-family: arial;
  letter-spacing: 1px;
}

button{
  margin-left: 5em;
  margin-top: 1em;
  width: 27vw;
  padding: 10px;
  font-size: 17px;
  background-color: #4b197a;
  color: #fff;
  border-radius: 2px;
  border: none;
  flex-wrap: nowrap;
  font-size: arial;
}

button:hover{
  background-color: #80136d;
  transition: 0.6s ease-in-out;
  cursor: pointer;
}

  /* responsividade */


  @media (max-width: 1440px) {
    .cardlogin{
      width: 40%;
      height: 32em ;
    }
    .card-title{
      margin-left: 6.5em;
    }
    .inputs{
      width: 70%;
      margin-left: 2em;
    }
    .form-title{
      margin-left: 1.4em;
    }
    .checkbox{
      margin-left: 2em;
    }
    .forgot-pass{
      margin-top: 2em;
      margin-right: 6em;
    }
    button{
       width: 80%;
       margin-left: 2.4em;
    }
  }

  @media (max-width: 1400px) {
    .forgot-pass{
      margin-top: 2em;
      margin-right: 3em;
    }
  }

  @media (max-width: 1232px) {
    .card-title{
      margin-left: 5.7em;
    }
    .cardlogin{
      width: 40vw;
    }
  }

  @media(max-width: 1080px) {
    .card-title{
      margin-left: 5em;
    }
  }
  @media(max-width: 1003px) {
    .cardlogin{
      width: 45vw;
    }
  }
  
  @media(max-width: 814px) {
    .cardlogin{
      width: 55vw;
    }
  }

  @media(max-width: 768px) {
    .cardlogin{
      width: 60vw;
    }
  }
  @media(max-width: 600px) {
    .cardlogin{
      width: 70vw;
      margin-top: 0;
    }
    .card-title{
      margin-left: 4.5em;
    }
    .forgot-pass{
      margin-right: 2em ;
    }
    button{
      width: 90%;
      margin-left: 1em;
    }
  }
  @media(max-width: 500px) {
    .cardlogin{
      width: 77vw;
      margin-top: 0;
    }
  }
  @media (max-width: 425px) {
    .cardlogin{
      width: 80vw;
      margin-top: 0;
    }
    .card-title{
      margin-left: 4em;
    }
    .forgot-pass{
      margin-right: 4.5em ;
    }
    button{
      width: 90%;
      margin-left: 1em;
    }
  }

  @media(max-width: 375px) {
    .cardlogin{
      width: 85vw;
    }
    .card-title{
      margin-left: 3.4em;
    }
  }

  @media(max-width: 320px) {
    .cardlogin{
      width: 93vw;
    }
    .card-title{
      margin-left: 3em;
    }
    .forgot-pass{
      margin-right: 3.5em;
    }
  }

  @media(max-width: 280px) {
    .cardlogin{
      height:  80vh;
      margin-top: 4em;
    }
    button{
      padding: 5px;
      margin-top: 1;
    }
    .form-title{
      font-size: 16px;
    }
    .inputs{
      font-size: 14px;
    }
    .card-title{
      margin-left: 3.5em;
      font-size: 25px;
    }
    .forgot-pass{
      font-size: 15px;
    }
    .checkbox{
      width: 15px;
      min-height: 14px;
    }
    .remember{
      font-size: 12px;
    }
  }
