* {
  font-family: Arial, Helvetica, sans-serif;
}
.body {
  background-color: #240046;
  overflow-x: hidden;
}

.cardlogin {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  box-shadow: 10px 5px 7px 3px rgba(0, 0, 0, 0.473);
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  width: 30em;
  height: 31em;
}
.card-title {
  font-size: 32px;
  font-weight: bold;
  line-height: 2em;
  margin-left: 7em;
  padding-top: 10px;
}

textarea:focus,
input:focus {
  outline: none;
}

form {
  margin-top: 1em;
  margin-bottom: 4em;
  padding: 1em;
}

.inputs {
  display: block;
  width: 79%;
  text-align: left;
  margin-left: 3em;
  box-shadow: 0 0 0 0;
  outline: 0;
  border: none;
  border-bottom: 2px solid #80136d;
  padding: 1em;
  font-size: 1em;
  margin-bottom: 1em;
}
.inputs:focus {
  border-bottom: 3px solid rgb(177, 12, 122);
}
.form-title {
  font-weight: 520;
  font-size: 21px;
  margin-left: 2em;
}
.forgot-pass {
  text-align: right;
  display: block;
  flex-wrap: nowrap;
  margin-right: 3em;
  font-size: 17px;
  letter-spacing: 1px;
  color: #bd2890;
  cursor: pointer;
  font-weight: 512;
  text-decoration: underline;
}

button {
  margin-left: 5em;
  margin-top: 1em;
  width: 27vw;
  padding: 10px;
  font-size: 17px;
  background-color: #4b197a;
  color: #fff;
  border-radius: 2px;
  border: none;
  flex-wrap: nowrap;
  font-size: arial;
}

button:hover {
  background-color: #80136d;
  transition: 0.6s ease-in-out;
  cursor: pointer;
}

/* responsividade */

@media screen and (min-width: 300px) and (max-width: 490px) {
  .cardlogin {
    width: auto;
    height: 39em;
  }
  .card-title {
    text-align: center;
    margin-left: -0.1em;
    padding-top: 1em;
  }
  .forgot-pass {
    margin-right: 3.5em;
  }
  .inputs {
    width: 80%;
    margin-left: 1px;
  }
  .form-title {
    margin-left: 1em;
  }
  button {
    width: 80%;
    margin-left: 1em;
  }
}

@media screen and (min-width: 490px) and (max-width: 599px) {
  .cardlogin {
    width: auto;
    height: 39em;
  }
  .card-title {
    text-align: center;
    margin-left: -0.1em;
    padding-top: 1em;
  }
  .forgot-pass {
    margin-right: 3.5em;
  }
  .inputs {
    width: 80%;
    margin-left: 10px;
  }
  .form-title {
    margin-left: 1em;
  }

  .forgot-pass {
    margin-top: 3em;
  }
  button {
    width: 70%;
    margin-left: 3em;
  }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
  .cardlogin {
    width: 80%;
    height: 39em;
  }
  .card-title {
    text-align: center;
    margin-left: -0.1em;
    padding-top: 1em;
  }
  .inputs {
    width: 80%;
    margin-left: 15px;
  }
  .form-title {
    margin-left: 1em;
  }

  button {
    width: 80%;
    margin-left: 1.8em;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1440px) {
  .cardlogin {
    width: 55%;
    height: 39em;
  }
  .card-title {
    text-align: center;
    margin-left: -0.1em;
    padding-top: 1em;
  }
  .inputs {
    width: 80%;
    margin-left: 10px;
  }
  .form-title {
    margin-left: 1em;
  }

  button {
    width: 80%;
    margin-left: 1.5em;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1960px) {
  .cardlogin {
    width: 30%;
    height: 39em;
  }
  .card-title {
    text-align: center;
    margin-left: -0.1em;
    padding-top: 1em;
  }
  .inputs {
    width: 80%;
    margin-left: 25px;
  }
  .form-title {
    margin-left: 1em;
  }

  button {
    width: 80%;
    margin-left: 1.8em;
  }
}
